{% extends "bootstrap/base.html" %}
{% block title %}FLD Quiz{% endblock %}

{% block navbar %}
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header" style="background-color:whitesmoke;">
        <a class="navbar-brand" href="https://www.ti.rw.fau.de/">
            <img src="https://www.ti.rw.fau.de/files/2019/03/cropped-longTxt-1.png" alt="Bootstrap" width="50" style="display: block;margin-left: auto;margin-right: auto;">
        </a>
      </div>
      <ul class="nav navbar-nav">
        <li class="active">
            <a href="/">Home</a>
      </ul>
    </div>
  </nav>
{% endblock %}