<!DOCTYPE html>
<html>
  <head>
    <title>Flask - WTF - Quiz</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet" media="screen">
  </head>
  <style type="text/css">
    .container {
      max-width: 500px;
    }
  </style>
  <body>
    <div class="container">
        <h3>C{{chapter.no}}: {{chapter.label}}</h3>
        <details>
            <summary>Learning Goal: {{chapter.no}}.xx</summary>
            <p>xx</p>
        </details>
        <form id="radio" action="{{request.url}}" method="POST" role="form">
            <div class="statement">
                <h2 id="demo">{{ quiz_item.statement }}</h2>
            </div><br>
            <div class = "answer">
              {{ form.hidden_tag() }}
              {{ form.isTrue(onclick="submitForm()")}}
            </div>
            
            {% if g.answered %}
            <details {% if not g.is_correct %} open {% endif %}>
                <summary style="color:{{ 'green' if g.is_correct else 'red'}};">
                  <b>Your answer is {{g.answered}}! <span  style="color:blue">Explanation</span>.</b></summary>
                <p>{{quiz_item.answer}}</p>
            </details>
            {% endif %}
          

        </form>
        <a class="btn" href="">Link</a>
            <form action="{{request.url}}" method="GET">
              {{next.submit}}
            </form>
        </div>
    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <script>
      function submitForm() {
        document.getElementById('radio').submit();
      }
    </script>
  </body>
</html>
