{% extends "quiz.html" %}


{% block content %}
    <div class="container">
        <h3>C{{chapter.no}}: {{chapter.label}}</h3>
        <details>
            <summary>Learning Goal: {{chapter.no}}.xx</summary>
            <p>xx</p>
        </details>
        <form id="radio" action="{{request.base_url}}" method="POST" role="form">
            <div class="statement">
                <h3 id="demo">{{ quiz_item.statement }}</h3>
            </div><br>
            <div>
              {{ form.hidden_tag() }}
              {% for subfield in form.isTrue %}
              <div class="form-check" >
                  {{ subfield(onclick="submitForm()")}}
                  {{ subfield.label }}
              </div>
          {% endfor %}
            </div>
            
            {% if g.answered %}
            <details {% if not g.is_correct %} open {% endif %}>
                <summary style="color:{{ 'green' if g.is_correct else 'red'}};">
                  <b>Your answer is {{g.answered}}! <span  style="color:blue">Explanation</span>.</b></summary>
                <p>{{quiz_item.answer}}</p>
            </details>
            {% endif %}
          

          </form>
          <a class="btn btn-primary" href="{{request.base_url}}">Next</a>
        </div>
{% endblock %}

{% block scripts %}
<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
<script>
  function submitForm() {
    document.getElementById('radio').submit();
  }
  {{super()}}
</script>
{% endblock %}

